#title {
    text-align: center;
    padding: -10 0 0 0;
}

#titletext {
    color: #ffd740;
}

#nav {
    margin-top: 25px;
    position: fixed;
    height: 70px;
}

#content {
    margin: 0 auto;
    width: 960px;
}

#parallax1 {
    background: url('../images/bitcoin-gif2.gif') 50% 25% no-repeat;
    color: #fff;
    margin-top: 30px;
    padding: 502px 0 260px 0;
  
}

#parallax2 {
    background: url('../images/bitcoin-web.jpg') fixed;
    color: #fff;
    background-size: cover;
    background-position-y: -160px;
 
}

#submitButton {
    margin-left: 455px;
    color: black;

}

.form-style {
    font-size: 15px;
    font-weight: 250px;
}