#title {
    text-align: center;
    padding: -10 0 0 0;
    font-family: 'Turret Road', cursive;
    font-weight: bold;
    font-size: 40px;
}

#titletext {
    color: #ffd740;
}

.header {
    font-family: 'Rubik', sans-serif;
}

#nav {
    margin-top: 20px;
    height: 70px;
}

#content {
    margin: 0 auto;
    width: 960px;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
}

#parallax1 {
    background: url('../images/bitcoin-gif2.gif') 50% 25% no-repeat;
    color: #fff;
    padding: 502px 0 260px 0;
}

#parallax2 {
    background: url('../images/bitcoin-web.jpg') fixed;
    color: #fff;
    background-size: contain;
    background-position-y: -100px;
    background-position-x: 100px;
    margin-bottom: 150px;
}

#submitButton {
    /* margin-left: 455px; */
    color: black;
    border-radius: 50%;
}

.form-style {
    font-size: 15px;
    font-weight: 250px;
}

@media screen and (max-width: 820px) {
    #parallax1 {
        background-size: contain
    }
    #parallax2 {
        background-size: cover;
        background-repeat: repeat;
        background-position: center;
    }
    #title {
        font-size: 25px;
    }
    .nav-wrapper {
        padding-top: 5px;
    }
}

@media screen and (max-width: 600px) {
    #parallax1 {
        background-size: contain
    }
    #parallax2 {
        background-size: cover;
        background-repeat: repeat;
        background-position: center;
    }
    #title {
        font-size: 22px;
    }
    .nav-wrapper {
        padding-top: 5px;
    }
}

@media screen and (max-width: 500px) {
    #parallax1 {
        background-size: contain;
    }
    #parallax2 {
        background-position: center;
    }
}